@font-face {
    font-family: 'myFont';
    src: url('./NanumGothic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'myFont';
    background: url('./cat.jpg');
}